@using TeamCheddarSharp.Models;
@model TeamCheddarSharp.Models.SchoolModel

@{
    ViewBag.Title = "School";
}

<div class="bottom_nav_Details2 button" id="school">
    <p class="button">
        @Html.ActionLink("Back to School List", "Index", "School")
    </p>
</div>

@{
    UserModel user = (UserModel)HttpContext.Current.Session["userLoggedIn"];
}

@if (user != null)
{
    if (user.Role == "Admin")
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Create School</legend>
                <div>
                    @Html.ValidationSummary(true)

                    <div>
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control first" } })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <br />

                    <div>
                        @Html.LabelFor(model => model.Address)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                    <br />

                    <div>
                        @Html.LabelFor(model => model.Phone)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                    <br />

                    <div>
                        @Html.LabelFor(model => model.Contact)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Contact)
                    </div>
                    <hr />

                    <div class="func-btn">
                        <div class="assign">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    }
    else
    {
        <h3>Unauthorized Access!</h3>
    }
}



