@using TeamCheddarSharp.Models;
@model TeamCheddarSharp.Models.IdeaView

@{
    ViewBag.Title = "Contribute";
}

@{
    UserModel userLoggedIn = (UserModel)HttpContext.Current.Session["userLoggedIn"];
}

<div class="bottom_nav_Details2 button" id="school">
    <p class="button">
        @Html.ActionLink("Back to All Projects", "Index")
    </p>
</div>

@if (userLoggedIn != null)
{
    using (Html.BeginForm("Contribute", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset>
                <legend>New Project Idea</legend>
                <div>
                    @Html.LabelFor(model => model.Title)
                </div>
                <div>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control first title-txtbox", maxLength = "100" } })
                    @Html.ValidationMessageFor(model => model.Title)
                    <div id="title-remaining"></div>
                    <br />
                </div>
                <div>
                    @Html.LabelFor(model => model.Summary)
                </div>
                <div>
                    @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control summary-txtbox", maxLength = "250" } })
                    @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                    <div id="summary-remaining"></div>
                    <br />
                </div>
                <div>
                    @Html.LabelFor(model => model.Description)
                </div>
                <div>
                    @Html.TextAreaFor(model => model.Description, new { @maxLength = "1000", @class = "desc-txtarea", htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    <div id="desc-remaining"></div>
                    <br />
                </div>
                <div>
                    @Html.LabelFor(model => model.Justification)
                </div>
                <div>
                    @Html.TextAreaFor(model => model.Justification, new { @maxLength = "1000", @class = "just-txtarea", htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Justification, "", new { @class = "text-danger" })
                    <div id="just-remaining"></div>
                    <br />
                </div>

                <div>
                    @Html.LabelFor(model => model.Files)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Files, new { type = "file", multiple = "true" })
                </div>
                <br />

                @Html.HiddenFor(model => model.Date_submitted, new { @Value = DateTime.Now })
                @Html.HiddenFor(model => model.User_id, new { @Value = @userLoggedIn.User_id })

                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit Idea" class="btn btn-default" />
                    </div>
                </div>
            </fieldset>
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
