@model TeamCheddarSharp.Models.UserModel

<div id="user-menu">
    <div id="prj-tab" class="opts proj-tab"><b>Project Options</b></div>
    <div id="clnt-tab" class="opts clnt-tab"><b>Client Options</b></div>
    <div id="report-tab" class="opts report-tab"><b>Reports</b></div>
</div>

<div id="idea-opt">
    <div>
        <p>@Html.ActionLink("My Ideas", "ListProjectByUser", "Home", new { id = @Model.User_id }, null)</p>
        <p>@Html.ActionLink("View All Ideas", "Index", "Home")</p>
        <p>@Html.ActionLink("View All Assigned Ideas", "ViewAllAssignedIdeas", "Admin")</p>
        <p>@Html.ActionLink("View All Archived Ideas", "ViewArchive", "Admin")</p>
        <p>@Html.ActionLink("Log out", "Logout", "Account")</p>
    </div>
</div>

<div id="clnt-opt">
    <div>
        <p>@Html.ActionLink("View All Schools", "Index", "School")</p>
        <p>@Html.ActionLink("View All Users", "ListUsers", "Admin")</p>
    </div>
</div>

<div id="report-opt">
    <div>
        <p>@Html.ActionLink("View Audit Trails", "AuditTrail", "Admin")</p>
        <p> @Html.ActionLink("View Reports", "GenerateReport", "Admin")</p>
    </div>
</div>
