
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>

        <a href="#Project">Projects <img class="darrow" src='@Url.Content("~/Content/images/downarrow.png")' /></a>
        <ul>
            @*<li><a href="TopIdeas">Top Project Ideas</a></li>*@
            <li>@Html.ActionLink("New Project Idea", "Contribute", "Home")</li>
            <li>@Html.ActionLink("View all projects", "Index", "Home")</li>
        </ul>
    </li>
    @*<li>

        @Html.ActionLink("About", "About", "Home")
        <ul>
            <li><a href="Latest">Latest News</a></li>
            <li><a href="History">Company History</a></li>
            <li><a href="FAQ">FAQ</a></li>
        </ul>
    </li>
    <li>

        @Html.ActionLink("Contact", "Contact", "Home")

        <ul>
            <li><a href="Locations">Locations</a></li>
            <li><a href="Hotline">24/7 Hotline</a></li>
            <li><a href="Feedback">Feedback</a></li>
        </ul>

    </li>*@
    @*<li class="login">

        @Html.Partial("_LoginPartial")

        <ul>
            <li><a href="Contributors">Contributors</a></li>
            <li><a href="Admin">Administrators</a></li>
            <li><a href="Ambass">Ambassadors</a></li>
            <li><a href="Mentors">Mentors</a></li>
        </ul>

    </li>*@